body {
	font-family: "Source Sans Pro", sans-serif;
	padding: 0;
	margin: 0;
	font-size: 20px;
	background: #1D1D1D;
}

p {
	line-height: 1.6em;
}

a {
	color: #000;
}
a:hover {
	color: #09670b;
}
h1,
h2 {
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: normal;
}

h2 {
	font-size: 60px;
	text-align: center;
}

h3 {
	font-size: 1.4em;
	margin: 15px 0;
}
h4 {
	font-size: 1.1em;
	margin: 15px 0;
}
img {
	max-width: 100%;
	height: auto;
}

div.container,
div.small-container {
	margin: 0 auto;
	padding: 0 20px;
}

div.container {
	max-width: 940px;
}

div.small-container {
	max-width: 700px;
}

header,
footer {
	background: #1D1D1D;
	color: #ffffff;
}

footer {
	font-size: .6em;
}

section.hero {
	color: #FFFFFF;
	background-image: url('/media/general/dancing.jpg');
	background-size: cover;
}

p.post-hero {
	width: 80%;
	margin: 0 auto;
}

header a,
section.hero a,
footer a {
	text-decoration: none;
	color: #ffffff;
}

header,
footer {
	padding: 10px 0;
}

nav.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav.main-nav li,
nav.main-nav a {
	display: inline-block;
}

nav.main-nav li a {
	padding: 10px;
}

a.active {
	color: #FF0000;
}

a {text-decoration: underline;}

div.content {
	background: #fff;
}

section.hero {
	padding-top: 30px;
	padding-bottom: 180px;
}

p.sub-text {
	font-size: 20px;
	text-align: center;
	line-height: 28px;
}

.center-text {
	text-align: center;
}

.columns:after {
	content: "";
	display: table;
	clear: both;
}

.spacing {
	padding: 25px 0;
}

.column {
	box-sizing: border-box;
	float: left;
}

.column.third {
	width: 33%;
	padding: 0 20px;
	text-align: center;
}

.column.one_third {
	width: 33%;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.column.two_thirds {
	width: 66%;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.column.half {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.column.one_third a img:hover {
	border: 3px solid #09670b;
	border-radius: 100%;
	display: inline-block;
}

.blog-post {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.blog-post .date {
	float: right;
}

.comment {
	border: 1px solid #CCC;
	padding: 20px 50px;
	color: #777;
	position: relative;
	font-size: .9em;
	margin: 30px 0;
}

.comment h4 {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 143px;
}

.comment span.date {
	position: absolute;
	top: 64px;
	left: 142px;
}

.comment .profile-image img {
	width: 80px;
	height: 80px;
	border-radius: 100px;
}

.quote {
	font-size: 20px;
	text-align: center;
	line-height: 28px;
	font-style: italic;
	color: #000000;
}
hr {
	border: 1px solid #eee;
	margin: 60px 0;
}

textarea,
input[type="text"] {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	display: block;
	box-sizing: padding-box;
}

textarea {
	height: 250px;
	line-height: 1.5em;
	border: 1px solid #ccc;
	resize: none;
}

label {
	margin: 30px 0 10px 0;
	display: block;
}

input[type="submit"] {
	margin: 30px 0 0 0;
	font-size: 20px;
}

img.rounded-img {
	border-radius: 50%;
}

img.ico-nav {
	height: 50px;
}

a.badgeToDecorate {
	color:#ffffff;
}

/* ============ */

.quote-card {
	background: #D3D3D3;
	color: #222222;
	padding: 15px;
	padding-left: 45px;
	padding-right: 60px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
	position: relative;
	overflow: hidden;
	min-height: 120px;
	border-radius: 17px;
	font-style: italic;
}

.quote-card p {
	font-size: 22px;
	line-height: 1.5;
	margin: 0;
	max-width: 100%;
}

.quote-card cite {
	font-size: 16px;
	margin-top: 10px;
	display: block;
	font-weight: 200;
	opacity: 0.8;
}

.quote-card:before {
	content: "“";
	position: absolute;
	top: -30px;
	left: -10px;
	font-size: 5em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}

.quote-card:after {
	content: "”";
	position: absolute;
	bottom: -55px;
	line-height: 100px;
	right: 25px;
	font-size: 8em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}

@media (max-width: 640px) {
	.quote-card:after {
	  font-size: 22em;
	  right: -25px;
	}
}



* {
  box-sizing: border-box;
}

.gallery {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  box-sizing: border-box;
}

.gallery img:hover {
	outline: 3px solid #09670b;
}


/* Create four equal columns that sits next to each other */
.g-column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.g-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 768px) {
	.g-column {
	  -ms-flex: 50%; /* IE10 */
	  flex: 50%;
	  max-width: 50%;
	  padding: 0 4px;
	}
}

@media (max-width: 576px) {
	.g-column {
	  -ms-flex: 100%; /* IE10 */
	  flex: 100%;
	  max-width: 100%;
	  padding: 0 4px;
	}
}
