---
layout: default
title: Κεντρική
navigation_weight: 1
lang_id: home
lang: gr
fb_avatar: "/media/general/dancing_orig.jpg"
fb_description: "Tο Save Madagascar είναι μια μη κερδοσκοπική, φιλανθρωπική δράση, που στοχεύει στην καταπολέμηση της φτώχειας στη Νότια Μαδαγασκάρη."
---

<div class="container"><p><br></p></div>
<div class="container">
	<!-- <h1>Το πρόβλημα:</h1> -->
	<p>Στο σύνολο των οικισμών της Νοτίου Μαδαγασκάρης, παρατηρείται έντονα η έλλειψη βασικών υπηρεσιών και υποδομών, όπως η πρόσβαση σε καθαρό νερό, σχολεία και νοσοκομεία. Το πρόβλημα εντείνεται λόγω του ότι οι φτωχογειτονιές και παραγκουπόλεις είναι απομακρυσμένες μεταξύ τους, (έως και 3 ημέρες οδικώς). Αυτό έχει ως αποτέλεσμα, βασική εκπαίδευση να είναι προσβάσιμη μόνο από παιδιά που διαμένουν πλησίον οικισμών που διαθέτουν κάποιο σχολείο.</p>

	<h1>Ποιοι είμαστε:</h1>
	<p>Tο Save Madagascar είναι ένα μη κερδοσκοπικό, φιλανθρωπικό κίνημα. Ιδρύθηκε το Φεβρουάριο του 2019 από Κύπριους <a href="{% link about_gr.html %}">εθελοντές</a>. Οι δράσεις μας στοχεύουν στην καταπολέμηση της φτώχειας και τη βελτίωση των συνθηκών ζωής των ανθρώπων που ζουν στη Νότια Μαδαγασκάρη. Ως μια ομάδα επαγγελματικά καταρτισμένων ατόμων (μηχανικοί, καλλιτέχνες, γιατροί), με υψηλό το αίσθημα κοινωνικής ευθύνης και προσφοράς, παρέχουμε τις γνώσεις και τις υπηρεσίες μας με στόχο τη συλλογή χρημάτων, το σχεδιασμό, και την κατασκευή υποδομών. Οι δράσεις μας συμβάλλουν στην ανάπτυξη της περιοχής, με απότερο στόχο να ελαχιστοποιήσουν το πρόβλημα της άνισης πρόσβασης στην υγεία και την παιδεία.</p>
	<p>Tο Save Madagascar δεν επικεντρώνεται μόνο σε θέματα δομικών αναπτύξεων αλλά μάχεται για κοινωνικά θέματα, για τα ανθρώπινα δικαιώματα και υπερασπίζεται νομικώς τα δικαιώματα των ανθρώπων της. Δημιουργεί ασφαλείς πυρήνες-χωριά γύρω από δεξαμενές καθαρού νερού, προσαρμόζοντας κάθε φορά τις πρόσθετες υποδομές πρώτης ανάγκης με βάση τα δεδομένα του κάθε χωριού της.
	</p>
</div>

<div class="container">
	<div class="blog-posts spacing">
		<h1>{{ site.data.translations[page.lang].current }}:</h1>
		<div class="round-box">
			{% include post_list_layout.html content="Current" %}
		</div>
	</div>
</div>

<div class="spacing">
	<div class="embedsocial-hashtag" data-ref="7692c88090047f476553e6182f6f4c78701a0b42"> <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial<span>→</span> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
</div>

<hr>
{% include sponsors_ribbon.html %}
