---
layout: default
title: Home
navigation_weight: 1
lang_id: home
lang: en
fb_avatar: "/media/general/dancing_orig.jpg"
fb_description: "Save Madagascar is a charitable movement, striving to improve the local quality of life in Toliara, South Madagascar. As a group of technically specialised individuals, we provide our expertise to design, and build infrastructure, such as schools, water wells, and dormitories."
---

<div class="container"><p><br></p></div>
<div class="container">
	<!-- <h1>The problem:</h1> -->
	<p>Settlements in South Madagascar lack basic services, including clean water, schools and hospitals. Established slums are remote (three days driving), which makes access to basic services exceedingly difficult. When it comes to basic education, schools are only accessible to kids that live close-by, unless there is a dormitory in place.</p>
	<h1>Who we are:</h1>
	<p>Save Madagascar is a charitable movement that began in February 2019 by young Cypriot <a href="{% link about_en.html %}">volunteers</a>. As a group of technically specialised (engineers, artists) and highly motivated individuals, we provide our expertiese to enable and support local actions at Toliara, South Madagascar. Through these actions, we aim to facilitate fundraising, design and building of crucial infrastructure, including schools, dormitories, and hospitals.</p>
	<p>Save Madagascar is not only focusing on construction projects, but it also fights for social issues, human rights, and supports legal actions of Madagascarians within the country. We build safe zones around water sources, adjusting for the individual needs of every project, in order to provide support for the basic human needs.</p>
</div>

<div class="container">
	<div class="blog-posts spacing">
		<h1>{{ site.data.translations[page.lang].current }}:</h1>
		<div class="round-box">
			{% include post_list_layout.html content="Current" %}
		</div>
	</div>
</div>

<div class="spacing">
	<div class="embedsocial-hashtag" data-ref="7692c88090047f476553e6182f6f4c78701a0b42"> <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial<span>→</span> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
</div>


<hr>
{% include sponsors_ribbon.html %}
