---
layout: default
title: Updates
navigation_weight: 2
---

<div class="container">
	<div class="blog-posts spacing">
		{% for post in site.posts %}
			{% if post.category == "Updates" %}
				<div class="blog-post spacing">
					<h1><a style="text-decoration:none" href="{{ post.url }}">{{ post.title }}</a></h1>
					<div>{{ post.content }}</div>
					{% if post.gallery_images %}
						{% for img in post.gallery_images %}
							<div class="gallery">
							  <a target="_blank" href="{{ img }}">
							    <img src="{{ img }}" width="600" height="400">
							  </a>
							</div>
						{% endfor %}
					{% endif %}
				</div>

			{% endif %}
		{% endfor %}
	</div>
</div>
