---
layout: default
title: Updates
navigation_weight: 2
---

<div class="container">
	<div class="blog-posts spacing">
		<h1>Updates:</h1>
		{% for post in site.posts %}
			{% if post.category == "Updates" %}
				<div class="blog-post spacing">
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3><h4 style="text-align: right">{{ post.date | date: '%B %Y' }}</h4>
					{% if post.avatar %}
						<div class="columns">
							<div class="column one_third">
								<a href="{{ post.url }}"><img class="rounded-img" src={{ post.avatar }} width="200"></a>
							</div>
							<div class="column two_thirds" style="text-align:left">
								<div>{{ post.excerpt | truncate: 200 }}</div>
							</div>
						</div>
					{% else %}
						<div>{{ post.excerpt | truncate: 200 }}</div>
					{% endif %}
				</div>
				<hr>
			{% endif %}
		{% endfor %}
	</div>
</div>

<!-- <div class="container">
	<div class="blog-posts spacing">
		{% for post in site.posts %}
			{% if post.category == "Updates" %}
				<div class="blog-post spacing">
					<h1><a style="text-decoration:none" href="{{ post.url }}">{{ post.title }}</a></h1>
					<div>{{ post.content }}</div>
					{% if post.gallery_images %}
						<div>
							{% for img in post.gallery_images %}
								<div class="gallery">
								  <a target="_blank" href="{{ img }}">
								    <img src="{{ img }}" width="600" height="400">
								  </a>
								</div>
							{% endfor %}
							<div style="clear:both"></div>
						</div>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div> -->
