<div class="container">
  <nav class="main-nav">
    <div class="columns" style="font-size:0.8em">
      <ul>
      {% for p in site.html_pages %}
        {% if p.lang_id == page.lang_id %}
          <li {% if p.lang == page.lang %}class="active"{% endif %}><a href="{{ p.url }}" {% if p.url == page.url %}class="navLink active"{% else %}class="navLink"{% endif %}>{{ p.lang }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <nav class="main-nav">
    <ul>
      {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
      {% for p in navigation_pages %}
        {% if p.navigation_weight and p.lang == page.lang %}
          <li {% if p.url == page.url %}class="active"{% endif %}>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="navLink active"{% else %}class="navLink"{% endif %}>
              {{ p.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <h1><a href="https://gogetfunding.com/savemadagascar/"><img class="ico-nav" src="/media/logo/logo_smmadagascar_colour_clean.png"></a> {% for p in navigation_pages %}{% if p.lang_id=="home" and p.lang == page.lang %}<a href="{{ p.url }}">Save Madagascar</a>{% endif %}{% endfor %}</h1>
</div>
