---
layout: default
---

<div class="container">
	<h2 class="spacing">{{ page.title }}</h2>

	<div class="blog-post spacing">
		{{ content }}
		{% if page.gallery_images %}
			{% assign c = page.gallery_images.size | divided_by: 3 %}
			<div>
				<div class="gallery">
					<div class="g-column">
						{% for img in page.gallery_images limit:c %}
							<a href="{{ img }}"><img src="{{ img }}" style="width:100%"></a>
						{% endfor %}
					</div>

					<div class="g-column">

						{% for img in page.gallery_images limit:c offset: c %}
							<a href="{{ img }}"><img src="{{ img }}" style="width:100%"></a>
						{% endfor %}
					</div>

					<div class="g-column">
						{% assign off = c | times: 2 %}
						{% for img in page.gallery_images offset: off %}
							<a  href="{{ img }}"><img src="{{ img }}" style="width:100%"></a>
						{% endfor %}
					</div>
				</div>
			<!-- <div style="clear:both"></div> -->
			</div>
		{% endif %}
	</div>
</div>

<div class="fb-share-button" data-href="{{ page.url }}" data-layout="button_count" data-size="large">
<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsmadagascar.com%2Fupdates%2F2019%2F02%2F13%2Fmetropolitan_church_of_Toliara.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share our story</a>
</div>


<!-- Your share button code -->
<div class="fb-share-button"
data-href="{{ page.url }}"
data-layout="button_count"
size="large">
</div>

<!-- <div class="container">
	<h2 class="spacing">{{ page.title }}</h2>

	<div class="blog-post spacing">
		{{ content }}
		{% if page.gallery_images %}
			<div>
			{% for img in page.gallery_images %}

				<div class="gallery">
					<a target="_blank" href="{{ img }}">
						<img src="{{ img }}" width="600" height="400">
					</a>
				</div>

			{% endfor %}
			<div style="clear:both"></div>
			</div>
		{% endif %}
	</div>
</div> -->
