---
layout: default
---

<div class="container">
	<h2 class="spacing">{{ page.title }}</h2>

	<div class="blog-post spacing">
		{{ content }}
		{% if page.gallery_images %}
			{% assign c = page.gallery_images.size | modulo: 4 %}
			<div>
				<div class="gallery">
					{% for img in page.gallery_images %}
						{% if forloop.index | modulo:4 == c %}
							 <div class="g-column">
									<a target="_blank" href="{{ img }}"><img src="{{ img }}" style="width:100%"></a>
							 </div>
						 {% else %}
						 		<a target="_blank" href="{{ img }}"><img src="{{ img }}" style="width:100%"></a>
						 {% endif %}
					{% endfor %}
				</div>
			<!-- <div style="clear:both"></div> -->
			</div>
		{% endif %}
	</div>
</div>


<!-- <div class="container">
	<h2 class="spacing">{{ page.title }}</h2>

	<div class="blog-post spacing">
		{{ content }}
		{% if page.gallery_images %}
			<div>
			{% for img in page.gallery_images %}

				<div class="gallery">
					<a target="_blank" href="{{ img }}">
						<img src="{{ img }}" width="600" height="400">
					</a>
				</div>

			{% endfor %}
			<div style="clear:both"></div>
			</div>
		{% endif %}
	</div>
</div> -->
